<nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg scrollbar-primary"
     id="navbarVertical">
    <div class="container-fluid">
        <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" href="#">
            <h1>セルイチ</h1>
        </a>
        <div class="navbar-user d-lg-none">
            <div class="dropdown">
                <a href="#" id="sidebarAvatar" role="button" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <div class="avatar-parent-child">
                        <i class="fa fa-user" aria-hidden="true"></i> <span class="avatar-child avatar-badge bg-success"></span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarAvatar">
                    <a href="@Url.Action("Logout", "t_login")"
                       class="dropdown-item">ログアウト</a>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="sidebarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "t_dashboard")">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        ダッシュボード
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa fa-list" aria-hidden="true"></i> 査定依頼 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="@Url.Action("Index", "t_seller_list")">
                        <i class="fa fa-cog" aria-hidden="true"></i> 管理
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-money" aria-hidden="true"></i> プラン設定
                    </a>
                </li>
            </ul>
            <hr class="navbar-divider my-5 opacity-20">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"  href="@Url.Action("Logout", "t_login")">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>ログアウト
                    </a>
                </li>
            </ul>
            @Html.Partial("t_seller_assessment/_t_seller_assessment_menuPartial")
            <div class="mt-auto"></div>
        </div>
    </div>
</nav>


