@model Models.RealEstate.r_issueslist.r_issueslistModel

@{
    ViewBag.Title = "案件一覧";
    Layout = "~/Views/Shared/_r_menuLayout.cshtml";
}
@section styles{
    @Styles.Render("~/Content/realEstate_css_common")
}

<div class="d-flex flex-column min-vh-100 bg-surface-secondary mt-18" id="wrapper">
    @Html.Partial("r_issueslist_left_sideNavigation_menu")

    <div class="toggle-button">
        <a href="#menu-toggle" class="btn" id="menu-toggle">
            <span class="fa fa-angle-right glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>

    <div class="d-flex flex-column min-h-screen bg-surface-secondary" id="page-content-wrapper">
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <div class="card shadow border-0 mb-7">
                    <div class="card-header">
                        <div class="col-md-12 col-12 mb-3 mb-sm-0">
                            <h1 class="h2 mb-0 ls-tight">案件一覧</h1>
                        </div>
                        <div class="col-sm-6 col-12 text-sm-end">
                        </div>
                    </div>

                    <div class="card-header d-md-inline-flex">
                        <h5 class="mb-0">案件一覧</h5> <span class="ps-md-5 text-muted text-sm">検索結果：999999件</span>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-nowrap">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="text-end text-decoration-underline" style="width: 100px">No.</th>
                                    <th scope="col" style="width: 80px" class="text-decoration-underline">ステータス</th>
                                    <th scope="col" style="width: 250px" class="text-decoration-underline">物件（部屋番号）</th>
                                    <th scope="col" style="width: 150px" class="text-decoration-underline">お客様名</th>
                                    <th scope="col" style="width: 130px" class="text-decoration-underline">買取依頼日時</th>
                                    <th scope="col" style="width: 130px" class="text-decoration-underline">終了日時</th>
                                    <th scope="col" style="width: 100px" class="text-decoration-underline text-end">査定価格(円)</th>
                                    <th scope="col" style="width: 300px" class="text-decoration-underline">担当者</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-0 py-5">
                        <span class="text-muted text-sm">検索結果：999999件</span>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">売主詳細</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Card stats -->
                            <div class="row g-6 mb-6">
                                <div class="col-12">
                                    <div class="card shadow border-0 mb-7">
                                        <div class="card-body ">
                                            <div class="justify-content-around align-items-center row">
                                                <div class="align-items-center col-sm-6 col-lg-3">
                                                    <div class="p-md-2 p-1" id="info">
                                                        <div class="text-muted">Seller name Seller name1</div>
                                                        <div class="text-muted">
                                                            <h2>Seller name Seller name2</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-column col-sm-6 col-lg-9" id="info">
                                                    <div class="p-md-1 text-muted">
                                                        <span class="fa fa-home bg-light p-1 rounded-circle"></span>
                                                        AddressAddressAddressAddressAddressAddressAddressAddressAddressAddressAddressAddressAddressAddressAddress
                                                    </div>
                                                    <div class="p-md-1 pt-sm-1 text-muted">
                                                        <span class="fa fa-phone bg-light p-1 rounded-circle"></span> 02-6865-5551
                                                    </div>

                                                    <div class="p-md-1 pt-sm-1 text-muted">
                                                        <span class="fa fa-mobile bg-light p-1 ps-2 pe-2 rounded-circle"></span> 080-6865-5551
                                                    </div>
                                                    <div class="p-md-1 text-muted">
                                                        <span class="fa fa-envelope-o bg-light p-1 rounded-circle"></span>
                                                        AAAA999999@9999.aaaamail.com
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card shadow border-0 ">
                                        <div class="card-header d-md-inline-flex">
                                            <h5 class="mb-0">案件一覧</h5> <span class="ps-md-5 text-muted text-sm">検索結果：999999件</span>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover table-nowrap">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col" class="text-end text-decoration-underline" style="width: 100px">No.</th>
                                                        <th scope="col" style="width: 80px" class="text-decoration-underline">ステータス</th>
                                                        <th scope="col" style="width: 250px" class="text-decoration-underline">物件（部屋番号）</th>
                                                        <th scope="col" style="width: 130px" class="text-decoration-underline">買取依頼日時</th>
                                                        <th scope="col" style="width: 130px" class="text-decoration-underline">終了日時</th>
                                                        <th scope="col" style="width: 100px" class="text-decoration-underline text-end">査定価格(円)</th>
                                                        <th scope="col" style="width: 180px" class="text-decoration-underline">担当者</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="card-footer border-0 py-5">
                                            <span class="text-muted text-sm">検索結果：999999件</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card stats -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        @Html.Partial("~/Views/Shared/_r_footer.cshtml")
    </div>
</div>

<script src="@Url.Content("~/Content/bootstrap/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Content/scripts/sidebar.js")"></script>