@{
    Layout = null;
}

@section styles{
    @Styles.Render("~/Content/tenfold_css_common")
}

@{
    var lst = ViewBag.SellerModel;

}
<main class="py-6 bg-surface-secondary">
    <div class="container-fluid">
        <!-- Card stats -->
        <div class="row g-6 mb-6">
            <div class="col-12">
                <div class="card shadow border-0">
                    <div class="card-body ">
                        <div class="justify-content-around align-items-center row">
                            <div class="col-md-12 col-12 mb-3 mb-sm-0 d-flex">

                                <div class="border-end"><a type="button" href="@ViewBag.Url" class="btn btn-secondary me-2">戻る</a></div><h1 class="ps-2 h2 mb-0 ls-tight">売主</h1>
                                <span class="ps-2 text-muted small align-self-end">管理</span>
                            </div>
                            <hr class="navbar-divider my-5 opacity-20">
                            <div class="align-items-center col-sm-6 col-lg-2  p-0 m-0 border-end">
                                <div class="p-md-2 p-1" id="info">
                                    @if (lst.InvalidFLG == "無効会員")
                                    {
                                        <div class="text-muted"><span class="text-danger">@lst.InvalidFLG</span></div>
                                    }
                                    else
                                    {
                                        <div class="text-muted"><span class="text-success">@lst.InvalidFLG</span></div>
                                    }
                                    <div class="text-muted">@lst.SellerKana</div>
                                    <div class="text-muted">
                                        <h2>@lst.SellerName</h2>
                                    </div>
                                    <div class="p-md-1 text-muted">
                                        <span class="fa fa-id-card bg-light p-1 rounded-circle"></span>
                                        @lst.SellerCD
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column col-sm-6 col-lg-4  p-0 m-0" id="info">

                                <div class="p-md-1 text-muted cap-fon-form-w500 ">
                                    <span class="fa fa-home bg-light p-1 rounded-circle"></span>
                                    @lst.Address
                                </div>
                                <div class="p-md-1 pt-sm-1 text-muted">
                                    <span class="fa fa-phone bg-light p-1 rounded-circle"></span>
                                    @lst.Phone
                                </div>
                                <div class="p-md-1 pt-sm-1 text-muted">
                                    <span class="fa fa-mobile bg-light p-1 ps-2 pe-2 rounded-circle"></span>
                                    @lst.Mobile_Phone
                                </div>
                                <div class="p-md-1 text-muted">
                                    <span class="fa fa-envelope-o bg-light p-1 rounded-circle"></span>
                                    @lst.MailAddress
                                </div>
                            </div>
                            <div class="d-flex flex-column col-sm-6 col-lg-2 p-0 m-0" id="info">
                                <div class="p-md-1 text-muted w-100 row text-nowrap">
                                    <div class="col"><span class="fa fa-money bg-light p-1 rounded-circle"></span><span class="text-nowrap">今月課金</span></div>
                                    <div class="col text-end"><span class="dark text-dark text-nowrap">@lst.BillingAmt 円</span></div>
                                </div>
                                <div class="p-md-1 text-muted w-100 row text-nowrap">
                                    <div class="col">
                                        <span class="fa fa-calculator bg-light p-1 rounded-circle"></span><span class="text-nowrap">査定数</span>
                                    </div>
                                    <div class="col text-end"><span class="dark text-dark text-nowrap">@lst.Assessment_constant 件</span></div>
                                </div>
                                <div class="p-md-1 text-muted w-100 row text-nowrap">
                                    <div class="col">
                                        <span class="fa fa-thumbs-o-up bg-light p-1 rounded-circle"></span><span class="text-nowrap">成約数</span>
                                    </div>
                                    <div class="col text-end"><span class="dark text-dark text-nowrap">@lst.Num_contracts 件</span></div>
                                </div>
                                <div class="p-md-1 text-muted w-100 row text-nowrap">
                                    <div class="col">
                                        <span class="fa fa-thumbs-o-down bg-light p-1 rounded-circle"></span><span class="text-nowrap">売主辞退数</span>
                                    </div>
                                    <div class="col text-end"><span class="dark text-dark text-nowrap">@lst.Num_seller_declines 件</span></div>
                                </div>
                                <div class="p-md-1 text-muted w-100 row text-nowrap">
                                    <div class="col">
                                        <span class="fa fa-thumbs-o-down bg-light p-1 rounded-circle"></span><span class="text-nowrap">買主辞退数</span>
                                    </div>
                                    <div class="col text-end"><span class="dark text-dark text-nowrap">@lst.Num_buyer_declines 件</span></div>
                                </div>
                            </div>



                            <div class="d-flex flex-column col-sm-6 col-lg-2 p-0 m-0" id="info">
                                <div class="p-md-1 text-muted w-100 row text-nowrap">
                                    <div class="col">
                                        <span class="fa fa-calendar bg-light p-1 rounded-circle"></span>会員登録日</span>
                                    </div>
                                    <div class="col text-end"><span class="dark text-dark text-nowrap">@lst.InsertDateTime</span></div>
                                </div>
                                @*<div class="p-md-1 text-muted w-100 row text-nowrap">
                                        <div class="col">
                                            <span class="fa fa-calendar  bg-light p-1 rounded-circle"></span>SMS認証日</span>
                                        </div>
                                        <div class="col text-end"><span class="dark text-dark text-nowrap">2020/12/15</span></div>
                                    </div>*@
                                <div class="p-md-1 text-muted w-100 row text-nowrap">
                                    <div class="col">
                                        <span class="fa fa-calendar  bg-light p-1 rounded-circle"></span>詳細査定日</span>
                                    </div>
                                    <div class="col text-end"><span class="dark text-dark text-nowrap">@lst.DeepAssDateTime</span></div>
                                </div>
                                <div class="p-md-1 text-muted w-100 row text-nowrap">
                                    <div class="col">
                                        <span class="fa fa-calendar  bg-light p-1 rounded-circle"></span>買取依頼日</span>
                                    </div>
                                    <div class="col text-end"><span class="dark text-dark text-nowrap">@lst.PurchReqDateTime</span></div>
                                </div>
                                <div class="p-md-1 text-muted w-100 row text-nowrap">
                                    <div class="col">
                                        <span class="fa fa-calendar  bg-light p-1 rounded-circle"></span>最終ログイン日</span>
                                    </div>
                                    <div class="col text-end"><span class="dark text-dark text-nowrap">@lst.LoginDateTime</span></div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card stats -->
        <div class="card shadow border-0 mb-7">
            <div class="card-header pt-2 pb-2 ps-4 pe-4">
                <ul class="nav nav-tabs overflow-x border-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">査定管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">情報管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">課⾦履歴</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">アカウントフラグ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">メモ</a>
                    </li>
                </ul>
            </div>

            <div class="card-header d-md-inline-flex">
                <h5 class="mb-0">査定管理</h5> <span class="ps-md-5 text-muted text-sm" id="total_record_up"></span>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap sortMe" id="mansiontable">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="text-end text-decoration-underline sort-by" style="width: 50px" data-type="number">No.</th>
                            <th scope="col" style="width: 150px" class="text-decoration-underline sort-status-t-seller-assessment">ステータス</th>
                            <th scope="col" style="width: auto" class="text-decoration-underline sort-by">物件（マンション、部屋番号）</th>
                            <th scope="col" style="width: 200px" class="text-decoration-underline sort-mix-td-and-a">不動産会社</th>
                            <th scope="col" style="width: 180px" class="text-decoration-underline sort-by">登録日時</th>
                            <th scope="col" style="width: 180px" class="text-decoration-underline sort-by">簡易査定日時</th>
                            <th scope="col" style="width: 180px" class="text-decoration-underline sort-mix-td-and-a">詳細査定日時</th>
                            <th scope="col" style="width: 180px" class="text-decoration-underline sort-by">買取依頼日時</th>
                            <th scope="col" style="width: 180px" class="text-decoration-underline sort-by">送客日時</th>
                            <th scope="col" style="width: 180px" class="text-decoration-underline sort-by">終了日時</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="card-footer border-0 py-5">
                <span class="text-muted text-sm" id="total_record"></span>
            </div>
        </div>
    </div>
