@{
    Layout = "~/Views/Shared/t_mansion_list/_t_mansion_listMainLayout.cshtml";
    ViewBag.Title = "管理 マンション一覧";
}



@section styles{
    @Styles.Render("~/Content/tenfold_css_common")
}

<div class="d-flex flex-column min-vh-100 bg-surface-secondary mt-18" id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="navbar-nav mb-md-4 p-3 mt-5 p-md-0">
            <li>
                <div class="ls-wider px-xl-3" href="#">

                </div>
            </li>


            <li>
                <div class="text-center px-xl-3">

                    <div class="mb-3 text-start">
                        <label for="txtApartment" class="form-label">マンション</label> <input type="text" class="form-control mb-2" id="txtApartment" placeholder="マンション名">
                    </div>
                </div>
            </li>
            <li>
                <div class="px-xl-3 mb-3">
                    <label for="disabledSelect" class="form-label w-100">表示エリア</label>

                    <ul id="tree" class="card">

                       

                        @foreach (var item in ViewBag.PrefCD)
                        {
                        <li>
                            <a>@item.PrefName </a>
                            @foreach (var cityGPCD in ViewBag.CityGPCD)
                            {
                                if (cityGPCD.PrefCD == item.PrefCD)
                                {
                                    <ul>
                                        <li class="text-nowrap">
                                            <input class="form-check-input node-parent" type="checkbox" value="@cityGPCD.CityGPCD">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                @cityGPCD.CityGPName
                                            </label>

                                            @foreach (var cityCD in ViewBag.CityCD)
                                            {
                                                if ((cityCD.CityGPCD == cityGPCD.CityGPCD) && (cityGPCD.PrefCD == cityCD.PrefCD))
                                                {
                                                    <ul>
                                                        <li>
                                                            <input class="form-check-input node-item" type="checkbox" value="@cityCD.CityCD">
                                                            <label class="form-check-label" for="flexCheckChecked">
                                                                @cityCD.CityName
                                                            </label>
                                                        </li>
                                                    </ul>
                                                }

                                            }
                                        </li>

                                    </ul>
                                }
                            }

                        </li>
                        }

                        @*<li>
            <a> County/StateName </a>
            <ul>
                <li class="text-nowrap">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        CityName
                    </label>
                    <ul>
                        <li>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                TownshipName
                            </label>
                        </li>
                        <li>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                TownshipName
                            </label>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>


        <li>
            <a>County/StateName</a>
            <ul>
                <li class="text-nowrap">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        CityName
                    </label>
                    <ul>
                        <li>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                TownshipName
                            </label>
                        </li>
                        <li>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                TownshipName
                            </label>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>
        <li>
            <a>County/StateName</a>
            <ul>
                <li class="text-nowrap">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        CityName
                    </label>
                    <ul>
                        <li>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                TownshipName
                            </label>
                        </li>
                        <li>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                TownshipName
                            </label>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>*@
                    </ul>
                </div>
            </li>
            <li>
                <div class="form-group ps-3 pe-3">
                    <label for="Age" class="form-label">
                        築年数
                    </label>
                    <span class="cap-errormsg-right" id="errorAge"></span>
                    <div class="form-group input-group mb-3">

                        <input type="text" class="form-control" id="StartNum" name="StartAge">
                        <span class="input-group-inline text-center align-self-center p-2">年 ~</span>
                        <input type="text" class="form-control" id="EndNum" name="EndAge">
                        <span class="input-group-inline text-center align-self-center p-2">年</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group ps-3 pe-3">
                    <label for="Unit" class="form-label">
                        戸数
                    </label>
                    <span class="cap-errormsg-right" id="errorUnit"></span>
                    <div class="form-group input-group mb-3">

                        <input type="text" class="form-control" id="StartUnit" name="StartUnit">
                        <span class="input-group-inline text-center align-self-center p-2">戸 ~</span>
                        <input type="text" class="form-control" id="EndUnit" name="EndUnit">
                        <span class="input-group-inline text-center align-self-center p-2">戸</span>
                    </div>
                </div>
            </li>
            <li>
                <span class="cap-errormsg-right" id="errorbtnDisplay"></span>
                <div class="form-group ps-3 pe-3">

                    <button type="button"
                            class="btn btn-primary w-100 w-100 mb-3" id="btnDisplay">
                        表示
                    </button>
                </div>
                <div class="form-group ps-3 pe-3">
                    <button type="button"
                            class="btn btn-primary w-100 w-100 mb-3" id="btnSignUp">
                        新規登録
                    </button>
                </div>
                <div class="form-group ps-3 pe-3">
                    <button type="button"
                            class="btn btn-primary w-100 w-100 mb-3" id="btnCSVDownload">
                        CSVダウンロード
                    </button>
                    <button type="button"
                            class="btn btn-primary w-100 w-100 mb-3" id="btnCSVUpload">
                        CSVアップロード
                    </button>
                </div>
            </li>

        </ul>
        <div class="mt-auto pb-20"></div>
    </div>
    <div class="toggle-button">
        <a href="#menu-toggle" class="btn" id="menu-toggle">
            <span class="fa fa-angle-right glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
    <div class="d-flex flex-column min-h-screen bg-surface-secondary" id="page-content-wrapper">

        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">

                <div class="card shadow border-0 mb-7">

                    <div class="card-header">

                        <div class="col-md-12 col-12 mb-3 mb-sm-0 d-flex">

                            <h1 class="h2 mb-0 ls-tight">マンション</h1>
                            <span class="ps-2 text-muted small align-self-end">管理</span>
                        </div>
                        <hr class="navbar-divider my-5 opacity-20"><div class="d-inline-flex">
                            <h5 class="mb-0">マンション一覧</h5> <span class="ps-md-5 text-muted text-sm" id="total_record_up">検索結果：0件</span><span style="color: red;" class="ps-md-5 text-sm" id="no_record"></span>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-nowrap" id="mansiontable">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="text-end text-decoration-underline" style="width:100px">No.</th>
                                    <th scope="col" style="width: 100px" class="text-decoration-underline sort-by" ordercol-index="1">マンションCD</th>
                                    <th scope="col" style="width: 200px"><span col_ordertype="a" class="text-decoration-underline pe-1 ps-1 sort-multi" ordercol-index="2_1">マンション名</span></th>
                                    <th scope="col" style="width: 600px" class="text-decoration-underline sort-by" ordercol-index="3_2_1"><span class="text-decoration-underline pe-1 ps-1 sort-by" ordercol-index="3_2_1">住所</span></th>
                                    <th scope="col" style="width: 80px" class="text-decoration-underline sort-by" ordercol-index="4_2_1">築年月</th>
                                    <th scope="col" style="width: 50px" class="text-decoration-underline text-end sort-by" data-type="number" ordercol-index="5_2_1">築年数</th>
                                    <th scope="col" style="width: 80px" class="text-decoration-underline text-end sort-by" data-type="number" ordercol-index="6_2_1">総戸数</th>
                                    <th scope="col" style="width: auto" class="d-none d-md-block opacity-0">&nbsp;</th>

                                </tr>
                            </thead>
                            <tbody>
                                @*<tr>
                                    <td class="text-end"> 999999999 </td>
                                    <td> HE9999999 </td>
                                    <td><a href="#" class="text-heading font-semibold text-decoration-underline">MansionName3</a></td>
                                    <td>MansionAddressMansionAddressMansionAddressMansionAddressMansionAddress6</td>
                                    <td>YYYY/MM</td>
                                    <td class="text-end">99</td>
                                    <td class="text-end">99</td>
                                </tr>
                                <tr>
                                    <td class="text-end"> 999999999 </td>
                                    <td> HE9999999 </td>
                                    <td><a href="#" class="text-heading font-semibold text-decoration-underline">MansionName3</a></td>
                                    <td>MansionAddressMansionAddressMansionAddressMansionAddressMansionAddress7</td>
                                    <td>YYYY/MM</td>
                                    <td class="text-end">99</td>
                                    <td class="text-end">99</td>
                                </tr>
                                <tr>
                                    <td class="text-end"> 999999999 </td>
                                    <td> HE9999999 </td>
                                    <td><a href="#" class="text-heading font-semibold text-decoration-underline">MansionName3</a></td>
                                    <td>MansionAddressMansionAddressMansionAddressMansionAddressMansionAddress5</td>
                                    <td>YYYY/MM</td>
                                    <td class="text-end">99</td>
                                    <td class="text-end">99</td>
                                </tr>
                                <tr>
                                    <td class="text-end"> 999999999 </td>
                                    <td> HE9999999 </td>
                                    <td><a href="#" class="text-heading font-semibold text-decoration-underline">MansionName3</a></td>
                                    <td>MansionAddressMansionAddressMansionAddressMansionAddressMansionAddress4</td>
                                    <td>YYYY/MM</td>
                                    <td class="text-end">99</td>
                                    <td class="text-end">99</td>
                                </tr>
                                <tr>
                                    <td class="text-end"> 999999999 </td>
                                    <td> HE9999999 </td>
                                    <td><a href="#" class="text-heading font-semibold text-decoration-underline">MansionName3</a></td>
                                    <td>MansionAddressMansionAddressMansionAddressMansionAddressMansionAddress2</td>
                                    <td>YYYY/MM</td>
                                    <td class="text-end">99</td>
                                    <td class="text-end">99</td>
                                </tr>
                                <tr>
                                    <td class="text-end"> 999999999 </td>
                                    <td> HE9999999 </td>
                                    <td><a href="#" class="text-heading font-semibold text-decoration-underline">MansionName3</a></td>
                                    <td>MansionAddressMansionAddressMansionAddressMansionAddressMansionAddress3</td>
                                    <td>YYYY/MM</td>
                                    <td class="text-end">99</td>
                                    <td class="text-end">99</td>
                                </tr>
                                <tr>
                                    <td class="text-end"> 999999999 </td>
                                    <td> HE9999999 </td>
                                    <td><a href="#" class="text-heading font-semibold text-decoration-underline">MansionName3</a></td>
                                    <td>MansionAddressMansionAddressMansionAddressMansionAddressMansionAddress1</td>
                                    <td>YYYY/MM</td>
                                    <td class="text-end">99</td>
                                    <td class="text-end">99</td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-0 py-5">
                        <span class="text-muted text-sm" id="total_record">見つかった0件の結果を表示されています。</span>
                    </div>
                </div>
            </div>
            <!-- ポップアップ -->
            <div class="modal fade" data-bs-backdrop="static" id="mansion" tabindex="-1" aria-labelledby="mansion" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mansionLabel">
                                物件(部屋)情報
                            </h5>
                            <button type="button" class="btn-close d-none" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 col-md-12">

                                    <div class="col-12">
                                        <div class="users-container">

                                            <div class="users p-3">
                                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                                                aria-selected="true">
                                                            物件(部屋)情報
                                                        </button>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                                                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                                                aria-selected="false">
                                                            詳細情報
                                                        </button>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                                                data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                                                                aria-selected="false">
                                                            売主情報
                                                        </button>
                                                    </li>
                                                </ul>
                                                <div class="tab-content" id="pills-tabContent">
                                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                                         aria-labelledby="pills-home-tab">
                                                        <section class="highlight-clean">
                                                            <div>
                                                                <div class="intro">
                                                                    <hr class="navbar-divider my-5 opacity-20">
                                                                    <div class="card shadow border-0">
                                                                        <div class="card-body ">
                                                                            <h4 class="text-center fw-bold">マンション名マンション名　部屋番号</h4>
                                                                            <p class="font-monospace small text-start pt-3">
                                                                                住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所
                                                                            </p>

                                                                        </div>
                                                                    </div>
                                                                    <hr class="navbar-divider my-5 opacity-20">
                                                                    <div class="card shadow border-0">
                                                                        <div class="card-body ">
                                                                            <div class=" pb-0 pm-0">
                                                                                <h6>交通アクセス</h6>
                                                                                <div class="row justify-content-center" id="ekikoutsu"
                                                                                     style="width:100%;overflow-x: hidden;overflow-y: auto;max-height: 300px;">
                                                                                    <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                                        <div class="card-body p-2 row">
                                                                                            <div class="col-12">
                                                                                                <h5> 路線名路線名路線名</h5>
                                                                                            </div>
                                                                                            <div class="col-12">
                                                                                                <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                            </div>
                                                                                            <div class="col-12 text-end">
                                                                                                <p class="text-dark">徒歩 99 分</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                                        <div class="card-body p-2 row">
                                                                                            <div class="col-12">
                                                                                                <h5> 路線名路線名路線名</h5>
                                                                                            </div>
                                                                                            <div class="col-12">
                                                                                                <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                            </div>
                                                                                            <div class="col-12 text-end">
                                                                                                <p class="text-dark">徒歩 99 分</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                                        <div class="card-body p-2 row">
                                                                                            <div class="col-12">
                                                                                                <h5> 路線名路線名路線名</h5>
                                                                                            </div>
                                                                                            <div class="col-12">
                                                                                                <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                            </div>
                                                                                            <div class="col-12 text-end">
                                                                                                <p class="text-dark">徒歩 99 分</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                                        <div class="card-body p-2 row">
                                                                                            <div class="col-12">
                                                                                                <h5> 路線名路線名路線名</h5>
                                                                                            </div>
                                                                                            <div class="col-12">
                                                                                                <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                            </div>
                                                                                            <div class="col-12 text-end">
                                                                                                <p class="text-dark">徒歩 99 分</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                                        <div class="card-body p-2 row">
                                                                                            <div class="col-12">
                                                                                                <h5> 路線名路線名路線名</h5>
                                                                                            </div>
                                                                                            <div class="col-12">
                                                                                                <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                            </div>
                                                                                            <div class="col-12 text-end">
                                                                                                <p class="text-dark">徒歩 99 分</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                                        <div class="card-body p-2 row">
                                                                                            <div class="col-12">
                                                                                                <h5> 路線名路線名路線名</h5>
                                                                                            </div>
                                                                                            <div class="col-12">
                                                                                                <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                            </div>
                                                                                            <div class="col-12 text-end">
                                                                                                <p class="text-dark">徒歩 99 分</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                                        <div class="card-body p-2 row">
                                                                                            <div class="col-12">
                                                                                                <h5> 路線名路線名路線名</h5>
                                                                                            </div>
                                                                                            <div class="col-12">
                                                                                                <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                            </div>
                                                                                            <div class="col-12 text-end">
                                                                                                <p class="text-dark">徒歩 99 分</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                                        <div class="card-body p-2 row">
                                                                                            <div class="col-12">
                                                                                                <h5> 路線名路線名路線名</h5>
                                                                                            </div>
                                                                                            <div class="col-12">
                                                                                                <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                            </div>
                                                                                            <div class="col-12 text-end">
                                                                                                <p class="text-dark">徒歩 99 分</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                                        <div class="card-body p-2 row">
                                                                                            <div class="col-12">
                                                                                                <h5> 路線名路線名路線名</h5>
                                                                                            </div>
                                                                                            <div class="col-12">
                                                                                                <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                            </div>
                                                                                            <div class="col-12 text-end">
                                                                                                <p class="text-dark">徒歩 99 分</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                                        <div class="card-body p-2 row">
                                                                                            <div class="col-12">
                                                                                                <h5> 路線名路線名路線名</h5>
                                                                                            </div>
                                                                                            <div class="col-12">
                                                                                                <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                            </div>
                                                                                            <div class="col-12 text-end">
                                                                                                <p class="text-dark">徒歩 99 分</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                    <div class="tab-pane fade" data-bs-backdrop="static" id="pills-profile" role="tabpanel"
                                                         aria-labelledby="pills-profile-tab">
                                                        <hr class="navbar-divider my-5 opacity-20">
                                                        <div class="card shadow border-0">
                                                            <div class="card-body ">
                                                                <h4 class="text-center fw-bold">マンション名マンション名　部屋番号<strong>マンション名</strong></h4>
                                                                <p class="font-monospace small text-start pt-3">
                                                                    住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所
                                                                </p>

                                                            </div>
                                                        </div>
                                                        <hr class="navbar-divider my-5 opacity-20">
                                                        <div class="card shadow border-0">
                                                            <div class="card-body ">
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>建物構造</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">SRC造<br></span></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>築年月</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">1990/1<br></span></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>部屋番号</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">999 号室<br></span></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>専有面積</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">999.99 ㎡<br></span></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>バルコニー面積　</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">999.99 ㎡<br></span></div>
                                                                            </div>
                                                                        </div>  <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>主採光</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">南向き<br></span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>部屋数</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">99部屋<br></span></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>バス・トイレ　</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">セパレート<br></span></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>土地権利　</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">所有権<br></span></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>現況</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">サブリース<br></span></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>管理方式</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">委託管理<br></span></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>売却希望時期　</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">1ヶ月以内<br></span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>家賃</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">9,999,999円<br></span></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>管理賃</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">9,999,999円<br></span></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>修繕積立金</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">9,999,999円<br></span></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>その他費用</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">9,999,999円<br></span></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-inline-flex pb-1">
                                                                            <div class="row">
                                                                                <div class="">
                                                                                    <h6 class="align-self-center"><strong>固定資産税</strong><br></h6>
                                                                                </div>
                                                                                <div class=""><span class="align-self-start">9,999,999円<br></span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" data-bs-backdrop="static" id="pills-contact" role="tabpanel"
                                                         aria-labelledby="pills-contact-tab">

                                                        <hr class="navbar-divider my-5 opacity-20">
                                                        <div class="card shadow border-0">
                                                            <div class="card-body ">
                                                                <h4 class="text-center fw-bold">マンション名マンション名　部屋番号<strong>マンション名</strong></h4>
                                                                <p class="font-monospace small text-start pt-3">
                                                                    住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所
                                                                </p>

                                                            </div>
                                                        </div>
                                                        <hr class="navbar-divider my-3 opacity-20">
                                                        <div class="card shadow border-0">
                                                            <div class="card-body ">
                                                                <div class="justify-content-around align-items-center row">
                                                                    <div class="align-items-center col-12">
                                                                        <div class="p-md-2 p-1" id="info">
                                                                            <div class="text-muted"><span class="text-success">有効会員</span></div>
                                                                            <div class="text-muted">キャピタル イチロー</div>
                                                                            <div class="text-muted">
                                                                                <h2>キャピタル 一郎</h2>
                                                                            </div>
                                                                            <div class="p-md-1 text-muted">
                                                                                <span class="fa fa-id-card bg-light p-1 rounded-circle"></span>
                                                                                U0000008
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <hr class="navbar-divider my-5 opacity-20">
                                                                <div class="justify-content-around align-items-center row">
                                                                    <div class="d-flex flex-column col-12" id="info">

                                                                        <div class="p-md-1 text-muted cap-fon-form-w500 ">
                                                                            <span class="fa fa-home bg-light p-1 rounded-circle"></span>
                                                                            京都府京都市東山区三条通南裏二筋目白川筋西入二丁目北側北木之元町一丁目七番地七号
                                                                        </div>
                                                                        <div class="p-md-1 pt-sm-1 text-muted">
                                                                            <span class="fa fa-phone bg-light p-1 rounded-circle"></span> 02-6865-5551
                                                                        </div>

                                                                        <div class="p-md-1 pt-sm-1 text-muted">
                                                                            <span class="fa fa-mobile bg-light p-1 ps-2 pe-2 rounded-circle"></span> 080-6865-5551
                                                                        </div>
                                                                        <div class="p-md-1 text-muted">
                                                                            <span class="fa fa-envelope-o bg-light p-1 rounded-circle"></span>
                                                                            AAAA999999@9999.aaaamail.com
                                                                        </div>
                                                                    </div>



                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#mansion">
                                戻る
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </main>
        @Html.Partial("_t_footer")
        @Html.Partial("_ErrorPopup")
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/t_mansion_list")
}
<script src="~/Content/scripts/table_header_sort.js"></script>

