<input type="hidden" id="_RequestVerificationToken" value="@SessionAuthenticationHelper.GetVerificationToken()" />

@{ 
    var pgSeller = new string[] { "/t_seller_mansion/index", "/t_seller_list/index", "/t_reale_purchase/index", "/t_reale_asmhis/index" };
    var pgReal = new string[] { "/t_seller_mansion/index", "/t_seller_assessment/index" };
    var sellerPre = "";
    var realPre = "";
     

    var _pURL = "";
    var _cURL = "";
    if (HttpContext.Current.Session["PREVIOUS_URL"] != null)
    {
        _pURL = HttpContext.Current.Session["PREVIOUS_URL"].ToString();
        if (_pURL.Contains("?"))
        {
            _pURL = _pURL.Split('?')[0];
        }
    }
    if (HttpContext.Current.Session["CURRENT_URL"] != null)
    {
        _cURL = HttpContext.Current.Session["CURRENT_URL"].ToString();
        if (_cURL.Contains("?"))
        {
            _cURL = _cURL.Split('?')[0];
        }
    }  
    
    if (pgSeller.Contains(_pURL) && _cURL.Contains("/t_seller_assessment/index"))
    {
        HttpContext.Current.Session["RETURN_SELLERURL"] = HttpContext.Current.Session["PREVIOUS_URL"].ToString();
    }
    else if (pgReal.Contains(_pURL) && _cURL.Contains("/t_reale_purchase/index"))
    {
        HttpContext.Current.Session["RETURN_REALURL"] = HttpContext.Current.Session["PREVIOUS_URL"].ToString();
    }

    sellerPre = HttpContext.Current.Session["RETURN_SELLERURL"]== null ? "" : HttpContext.Current.Session["RETURN_SELLERURL"].ToString();
    realPre = HttpContext.Current.Session["RETURN_REALURL"] == null ? "" : HttpContext.Current.Session["RETURN_REALURL"].ToString();

}
<input type="hidden" id="_PREVIOUS_SELLERURL" value="@sellerPre" />
<input type="hidden" id="_PREVIOUS_REALURL" value="@realPre" />


<nav class="navbar navbar-expand-lg navbar-light bg-white px-0 py-3 border-bottom  fixed-top">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
            <h1>セルイチ</h1>
        </a>
        <!-- Navbar toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Nav -->
            <div class="navbar-nav mx-lg-auto">
                <a class="nav-item nav-link text-underline-hover" id="t_dashboard" href="@Url.Action("Index", "t_dashboard")" aria-current="page">ダッシュボード</a>
                @*<a class="nav-item nav-link text-underline-hover" href="@Url.Action("Index", "t_assess_guide")">査定依頼</a>*@
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle text-underline-hover" href="#" id="navbarDropdownMenuLink1"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        査定依頼
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <a class="dropdown-item shadow-hover text-underline-hover" id="t_assess_guide" href="@Url.Action("Index", "t_assess_guide")">処理待ち</a>
                        <a class="dropdown-item shadow-hover text-underline-hover" id="t_assess_list" href="@Url.Action("Index", "t_assess_list")">査定依頼一覧</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-underline-hover" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        管理
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item shadow-hover text-underline-hover" id="t_reale_list" href="@Url.Action("Index", "t_reale_list")">不動産会社</a>
                        <a class="dropdown-item shadow-hover text-underline-hover" id="t_seller_list" href="@Url.Action("Index", "t_seller_list")">売主</a>
                        <a class="dropdown-item shadow-hover text-underline-hover" id="t_seller_mansion" href="@Url.Action("Index", "t_seller_mansion")">物件(部屋)</a>
                        @if (@SessionAuthenticationHelper.GetSuperAdminFLG() == "1")
                        {
                            <a class="dropdown-item shadow-hover text-underline-hover" id="t_admin" href="@Url.Action("Index", "t_admin")">管理者</a>
                        }
                        <a class="dropdown-item shadow-hover text-underline-hover" id="t_mansion_list" href="@Url.Action("Index", "t_mansion_list")">マンション</a>
                        <a class="dropdown-item shadow-hover text-underline-hover" href="#">集計</a>
                        @if (@SessionAuthenticationHelper.GetSuperAdminFLG() == "1")
                        {
                            <a class="dropdown-item shadow-hover text-underline-hover" id="t_seller_config" href="@Url.Action("Index", "t_seller_config")">セルイチ</a>
                        }
                        
                    </div>
                </li>
                <a class="nav-item nav-link text-underline-hover" href="#">プラン設定</a><!-- Right navigation -->
                <div class="navbar-nav ms-lg-4">
                    <a class="nav-item nav-link" href="@Url.Action("Logout", "t_login")">ログアウト</a>
                </div>
                <!-- Action
    <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <a href="#" class="btn btn-sm btn-primary w-full w-lg-auto">

        </a>
    </div>-->
            </div>
            <div class="navbar-nav d-flex">
                <div class="nav-item">
                    <hr class="navbar-divider my-3 opacity-20 d-md-none">
                    <p class="nav-item nav-link" id="loginStaffName"></p>
                </div>
            </div>
        </div>

    </div>
</nav>
