@model Models.RealEstate.r_asmc_ms_reged_list.r_asmc_ms_reged_listModel

@{
    ViewBag.Title = "案件一覧";
    Layout = "~/Views/Shared/_r_menuLayout.cshtml";
}
@section styles{
    @Styles.Render("~/Content/r_asmc_ms_reged_list")
}


<div class="d-flex flex-column min-vh-100 bg-surface-secondary mt-18" id="wrapper">
    @*@Html.Partial("_r_asmc_ms_reged_list_left_sideNavigation_menu")*@
    <form id="form1">
        <div id="sidebar-wrapper">
            <ul class="navbar-nav mb-md-4 p-3 mt-5 p-md-0">

                <li>
                    <div class="text-center px-xl-3 pt-3">

                        <div class="mb-3 text-start">
                            <label for="disabledSelect" class="form-label">マンション</label>
                            <span class="cap-errormsg-right" id="errorMansionName" name="errorMansionName"></span>
                            <input type="text" class="form-control mb-2" id="MansionName" placeholder="マンション名">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="px-xl-3 mb-3">
                        <label for="disabledSelect" class="form-label">表示エリア</label>
                        <ul id="tree" class="card">

                            @foreach (var item in ViewBag.PrefCD)
                            {
                                <li>
                                    <a>@item.PrefName </a>
                                    @foreach (var cityGPCD in ViewBag.CityGPCD)
                                    {
                                        if (cityGPCD.PrefCD == item.PrefCD)
                                        {
                                            <ul>
                                                <li class="text-nowrap">
                                                    <span class="cap-errormsg-right" id="CheckBoxError"></span>
                                                    <input class="form-check-input node-parent" type="checkbox" value="@cityGPCD.CityGPCD">
                                                    <label class="form-check-label" for="flexCheckChecked">
                                                        @cityGPCD.CityGPName
                                                    </label>

                                                    @foreach (var cityCD in ViewBag.CityCD)
                                                    {
                                                        if ((cityCD.CityGPCD == cityGPCD.CityGPCD) && (cityGPCD.PrefCD == cityCD.PrefCD))
                                                        {
                                                            <ul>
                                                                <li>
                                                                    <input class="form-check-input node-item" type="checkbox" value="@cityCD.CityCD">
                                                                    <label class="form-check-label" for="flexCheckChecked">
                                                                        @cityCD.CityName
                                                                    </label>
                                                                </li>
                                                            </ul>
                                                        }

                                                    }
                                                </li>

                                            </ul>
                                        }
                                    }

                                </li>
                            }

                        </ul>
                    </div>
                </li>
                <li>
                    <div class="form-group ps-3 pe-3">
                        <label for="disabledSelect" class="form-label">
                            築年数
                        </label>
                        <span class="cap-errormsg-right" id="errorYear"></span>
                        <div class="form-group input-group mb-3">
                            @*<span class="cap-errormsg-right" id="errorStartYear" name="errorStartYear"></span>*@
                            <input type="text" class="form-control" id="StartYear" style="text-align: right;">
                            <span class="input-group-inline text-center align-self-center p-2">年 ~</span>
                            @*<span class="cap-errormsg-right" id="errorEndYear" name="errorEndYear"></span>*@
                            <input type="text" class="form-control" id="EndYear" style="text-align: right;">
                            <span class="input-group-inline text-center align-self-center p-2">年</span>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="form-group ps-3 pe-3">
                        <div class="form-check pb-3">
                            <input class="form-check-input" type="checkbox" value="0" id="RadioCheck" name="RadioCheck">
                            <label class="form-check-label" for="RadioCheck">
                                優先度
                            </label>
                            <div class="ms-6">
                                <input class="form-check-input" type="radio" name="Radios" id="RadioRating" value="4">
                                <span class="text-danger">
                                    <span class="fa fa-star" data-rating="1"></span>
                                    <span class="fa fa-star" data-rating="2"></span>
                                    <span class="fa fa-star" data-rating="3"></span>
                                    <span class="fa fa-star" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>
                                </span><span><small>以上</small></span>
                            </div>

                            <div class="ms-6">
                                <input class="form-check-input" type="radio" name="Radios" id="RadioRating" value="3">
                                <span class="text-danger">
                                    <span class="fa fa-star" data-rating="1"></span>
                                    <span class="fa fa-star" data-rating="2"></span>
                                    <span class="fa fa-star" data-rating="3"></span>
                                    <span class="fa fa-star-o" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>
                                </span><span><small>以上</small></span>
                            </div>

                            <div class="ms-6">
                                <input class="form-check-input" type="radio" name="Radios" id="RadioRating" value="2">
                                <span class="text-danger">
                                    <span class="fa fa-star" data-rating="1"></span>
                                    <span class="fa fa-star" data-rating="2"></span>
                                    <span class="fa fa-star-o" data-rating="3"></span>
                                    <span class="fa fa-star-o" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>
                                </span><span><small>以上</small></span>
                            </div>

                            <div class="ms-6">
                                <input class="form-check-input" type="radio" name="Radios" id="RadioRating" value="1">
                                <span class="text-danger">
                                    <span class="fa fa-star" data-rating="1"></span>
                                    <span class="fa fa-star-o" data-rating="2"></span>
                                    <span class="fa fa-star-o" data-rating="3"></span>
                                    <span class="fa fa-star-o" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>
                                </span><span><small>以上</small></span>
                        </div>
                   </div>
                  </div>
                </li>
                <li>
                    <span class="cap-errormsg-right" id="errorbtnDisplay"></span>
                    <div class="form-group ps-3 pe-3">
                        <button type="button" class="btn btn-primary w-100 w-100 mb-3" id="btnDisplay">表示</button>
                    </div>
                </li>
            </ul>
         <div class="mt-auto pb-20"></div>
        </div>
    </form>

    <div class="toggle-button">
        <a href="#menu-toggle" class="btn" id="menu-toggle">
            <span class="fa fa-angle-right glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>

    <div class="d-flex flex-column min-h-screen bg-surface-secondary" id="page-content-wrapper">

        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">

                <div class="card shadow border-0 mb-7">

                    <div class="card-header">

                        <div class="col-md-12 col-12 mb-3 mb-sm-0">

                            <h1 class="h2 mb-0 ls-tight">登録済マンション一覧</h1>
                            <span class="text-muted small">査定条件＞設定＞マンション指定から設定</span>
                        </div>
                        <div class="col-sm-6 col-12 text-sm-end">
                            <!--<div class="mx-n1"> <a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1"> <span class=" pe-2">
                              <i class="fa fa-suitcase" aria-hidden="true"></i> </span> <span>接客モード</span> </a> </div>-->
                        </div>
                    </div>

                    <div class="card-header d-md-inline-flex">
                        <h5 class="mb-0">登録済マンション一覧</h5> <span class="ps-md-5 text-muted text-sm" id="total_record_up"></span><span style="color: red;" class="ps-md-5 text-sm" id="no_record"></span>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-nowrap" id="r_table_List">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="text-end text-decoration-underline" ordercol-direction="asc" ordercol-index="1" style="width: 100px">No.</th>
                                    <th class="d-none" ordercol-index="1">マンションCD</th>
                                    <th scope="col" style="width: 300px" class="text-decoration-underline sort-by" ordercol-index="2_1">マンション名</th>
                                    <th scope="col" style="width: auto" class="text-decoration-underline sort-by" ordercol-index="3_1">住所</th>
                                    <th class="d-none"bordercol-index="4">住所カナ</th>
                                    <th scope="col" style="width: 180px" class="text-decoration-underline sort-by" ordercol-index="5_1">登録日</th>
                                    <th class="d-none" ordercol-index="6">Priority</th>
                                    <th scope="col" style="width: 180px" class="text-decoration-underline sort-by" ordercol-index="7_1">優先度</th>
                                </tr>
                            </thead>
                            <tbody>


                            </tbody>
                           
                        </table>
                    </div>
                    <div class="card-footer border-0 py-5">
                        <span class="text-muted text-sm" id="total_record"></span>
                    </div>
                </div>
            </div>

        </main>
        @Html.Partial("~/Views/Shared/_r_footer.cshtml")
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/r_asmc_ms_reged_list")
}
