@model Models.Tenfold.t_reale_purchase.t_reale_purchaseModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_t_menuLayout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/tenfold_css_common")
}

<div class="d-flex flex-column min-vh-100 bg-surface-secondary mt-18" id="wrapper">
    <form id="form1">
        <div id="sidebar-wrapper" name="left_side_NavigationBar">
            <ul class="navbar-nav mb-md-4 p-3 mt-5 p-md-0">
                <li>
                    <div class="ls-wider px-xl-3" href="#">
                        <input type="text" id="RealECD" name="RealECD" readonly="readonly" class="d-none" />
                        <input type="text" id="RealEName" name="RealEName" readonly="readonly" class="d-none" />
                    </div>
                </li>
                <li>
                    <div class="text-center px-xl-3">
                        <div class="mb-3 text-start">
                            <label for="disabledSelect" class="form-label">ステータス</label>
                            <span class="cap-errormsg-right" id="CheckBoxError" name="CheckBoxError"></span>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="chk_Purchase" name="chk_Purchase" checked>
                                <label class="form-check-label" for="chk_Purchase">
                                    <span class="ms-1 ps-1 pe-1 rounded-circle bg-success text-white">買</span> 買取依頼
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="chk_Checking" name="chk_Checking" checked>
                                <label class="form-check-label" for="chk_Checking">
                                    <span class="ms-1 ps-1 pe-1 rounded-circle bg-warning ext-dark">確</span> 確認中
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="chk_Nego" name="chk_Nego" checked>
                                <label class="form-check-label" for="chk_Nego">
                                    <span class="ms-1 ps-1 pe-1 rounded-circle bg-info txt-dark">交</span> 交渉中
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="chk_Contract" name="chk_Contract" checked>
                                <label class="form-check-label" for="chk_Contract">
                                    <span class="ms-1 ps-1 pe-1 rounded-circle bg-secondary">成</span> 成約
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="chk_SellerDeclined" name="chk_SellerDeclined" checked>
                                <label class="form-check-label" for="chk_SellerDeclined">
                                    <span class="ms-1 ps-1 pe-1 rounded-circle bg-light text-danger">辞</span> 売主辞退
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="chk_BuyerDeclined" name="chk_BuyerDeclined" checked>
                                <label class="form-check-label" for="chk_BuyerDeclined">
                                    <span class="ms-1 ps-1 pe-1 rounded-circle bg-dark text-white">辞</span> 買主辞退
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="text-center px-xl-3">
                        <div class="mb-3 text-start">
                            <label for="Range" class="form-label">範囲指定</label>
                            <select id="Range" name="Range" class="form-select mb-2">
                                <option value="登録日">登録日</option>
                                <option value="簡易査定日">簡易査定日</option>
                                <option value="詳細査定日">詳細査定日</option>
                                <option value="買取依頼日">買取依頼日</option>
                                <option value="送客日">送客日</option>
                                <option value="成約日">成約日</option>
                                <option value="売主辞退日">売主辞退日</option>
                                <option value="買主辞退日">買主辞退日</option>
                            </select>
                            <label for="StartDate" class="form-label">開始日</label>
                            <span class="cap-errormsg-right" id="errorStartDate"></span>
                            <input class="form-control mb-2" id="StartDate" name="StartDate" type="date">
                            <label for="EndDate" class="form-label">終了日</label>
                            <span class="cap-errormsg-right" id="errorEndDate"></span>
                            <input class="form-control mb-2" id="EndDate" name="EndDate" type="date">
                            <div class="row mb-3">
                                <div class="col-6"> <button type="button" id="btnToday" name="btnToday" class="btn btn-primary w-100">今日</button></div>
                                <div class="col-6"><button type="button" id="btnThisWeek" name="btnThisWeek" class="btn btn-primary w-100">今週</button></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6"><button type="button" id="btnThisMonth" name="btnThisMonth" class="btn btn-primary w-100">今月</button></div>
                                <div class="col-6"><button type="button" id="btnLastMonth" name="btnLastMonth" class="btn btn-primary w-100">先月</button></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-group ps-3 pe-3">
                        <button type="button" id="btnDisplay" class="btn btn-primary w-100 w-100 mb-3">表示</button>
                    </div>
                    <div class="form-group ps-3 pe-3">
                        <button type="button" id="btnCSV" class="btn btn-primary w-100 w-100 mb-3">CSVダウンロード</button>
                    </div>
                </li>
            </ul>
            <div class="mt-auto pb-20"></div>
        </div>
    </form>

    <div class="toggle-button" name="left_side_NavigationBar_ShowHide_Icon">
        <a href="#menu-toggle" class="btn" id="menu-toggle">
            <span class="fa fa-angle-right glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>

    <div class="d-flex flex-column min-h-screen bg-surface-secondary" id="page-content-wrapper">
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                @Html.Partial("t_reale_Info")

                <div class="card shadow border-0 mb-7" style="border-top-left-radius: unset;border-top-right-radius: unset;">
                    <div class="card-header d-md-inline-flex">
                        <h5 class="mb-0">買取管理</h5>
                        <span class="ps-md-5 text-muted text-sm" id="total_record_up"></span> <span style="color: red;" class="ps-md-5 text-sm" id="no_record"></span>
                    </div>
                    <div class="table-responsive">
                        <table id="tblPurchaseDetails" class="table table-hover table-nowrap">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="text-end text-decoration-underline sort-by" ordercol-direction="asc" ordercol-index="9_3" style="width: 100px">No.</th>
                                    <th scope="col" style="width: 150px" class="text-decoration-underline sort-by" ordercol-index="2_9_3">ステータス</th>
                                    <th scope="col" class="d-none" data-type="number">ステータス</th>
                                    <th scope="col" style="width: 100px" class="text-decoration-underline sort-by" ordercol-index="3">査定ID</th>
                                    <th scope="col" style="width: 200px" class="text-decoration-underline sort-by" ordercol-index="4_9_3">物件（マンション、部屋番号）</th>
                                    <th scope="col" style="width: 150px" class="text-decoration-underline sort-by" ordercol-index="5_9_3">売主名</th>
                                    <th scope="col" style="width: 180px" class="text-decoration-underline sort-by" ordercol-index="6_9_3">登録日時</th>
                                    <th scope="col" style="width: 180px" class="text-decoration-underline sort-by" ordercol-index="7_9_3">簡易査定日時</th>
                                    <th scope="col" style="width: 180px" class="text-decoration-underline sort-by" ordercol-index="8_9_3">詳細査定日時</th>
                                    <th scope="col" style="width: 180px" class="text-decoration-underline sort-by" ordercol-index="9_3">買取依頼日時</th>
                                    <th scope="col" style="width: 180px" class="text-decoration-underline sort-by" ordercol-index="10_9_3">送客日時</th>
                                    <th scope="col" style="width: 160px" class="text-decoration-underline sort-by" ordercol-index="11_9_3">成約日時</th>
                                    <th scope="col" style="width: 160px" class="text-decoration-underline sort-by" ordercol-index="12_9_3">売主辞退日時</th>
                                    <th scope="col" style="width: 160px" class="text-decoration-underline sort-by" ordercol-index="13_9_3">買主辞退日時</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-0 py-5">
                        <span class="text-muted text-sm" id="total_record"></span>
                    </div>
                </div>
            </div>

            <!-- ポップアップ -->
            @Html.Partial("t_reale_Modal")
            @Html.Partial("_ErrorPopup")
        </main>
        @Html.Partial("_t_footer")
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/t_reale_purchase")
}