@{
    Layout = "~/Views/Shared/_t_menuLayout.cshtml";
    ViewBag.Title = "管理者";
}
@section styles{

    @Styles.Render("~/Content/tenfold_css_common")
}


<div class="d-flex flex-column min-vh-100 bg-surface-secondary mt-18">
    <div class="d-flex flex-column min-h-screen bg-surface-secondary" id="page-content-wrapper">

        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <!-- Card stats -->
                <div class="row g-6 mb-6">
                    <div class="col-12">
                        <div class="card shadow border-0">
                            <div class="card-body ">
                                <div class="justify-content-around align-items-center row">
                                    <div class="col-md-12 col-12 mb-3 mb-sm-0 d-flex">
                                        <h1 class="ps-2 h2 mb-0 ls-tight">管理者</h1>
                                        <span class="ps-2 text-muted small align-self-end">管理</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form id="form1">
                    <div class="row">
                        <div class="col-12 col-md-9">
                            <!-- Card stats -->
                            <div class="card shadow border-0 mb-7">

                                <div class="card-header d-md-inline-flex">
                                    <h5 class="mb-0">スタッフアカウント</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        @{int i = 1;}
                                        @foreach (var item in ViewBag.M_TenfoldStaff_list)
                                        {
                                            <div class="col-12 col-md-6 col-lg-4 pb-3 update-data">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>&nbsp;</h5>
                                                    </div>
                                                    <div class="row gutters">

                                                        <div class="col-md-12 col-sm-12 col-12">
                                                            <div class="h-100">
                                                                <div class="card-body">
                                                                    <div class="row gutters">
                                                                        <div class="col-12 pb-2">
                                                                            <div class="form-group">
                                                                                <label for="eMail">スタッフID</label>
                                                                                <input type="text" class="form-control" value="@item.TenStaffCD" readonly id="txtcd_@i" name="txtcd_@i">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 pb-2">
                                                                            <div class="d-flex">
                                                                                <label for="website">パスワード</label>
                                                                                <span class="cap-errormsg-right" id="error_pw_@i"></span>
                                                                            </div>
                                                                            <input type="text" class="form-control" value="@item.TenStaffPW" id="txtpw_@i" name="txtpw_@i" maxlength="30">
                                                                        </div>

                                                                        <div class="col-12 pb-2">
                                                                            <div class="d-flex">
                                                                                <label>スタッフ名</label>
                                                                                <span class="cap-errormsg-right" id="error_name_@i"></span>
                                                                            </div>
                                                                            <input type="text" class="form-control" value="@item.TenStaffName" id="txtname_@i" name="txtname_@i" maxlength="15">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row gutters">
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <label for="Street">アカウントフラグ</label>
                                                                                <div class="row align-items-center">
                                                                                    <div class="col">
                                                                                        <label class="form-check-label">無効化</label>
                                                                                    </div>
                                                                                    <div class="col-auto">
                                                                                        <div class="form-check form-switch">
                                                                                            <input class="form-check-input" type="checkbox" role="switch" @item.InvalidFLG name="txtflg_@i" id="txtflg_@i" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="row gutters">
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <label for="Street">アカウント削除</label>
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="txtdel_@i" name="txtdel_@i">
                                                                                    <label class="form-check-label" for="accdel">
                                                                                        削除
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            { i++; }
                                        }


                                        <div class="col-12 col-md-6 col-lg-4 pb-3">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>新規登録</h5>
                                                </div>
                                                <div class="row gutters">

                                                    <div class="col-md-12 col-sm-12 col-12">
                                                        <div class="h-100">
                                                            <div class="card-body">
                                                                <div class="row gutters">
                                                                    <div class="col-12 pb-2">
                                                                        <div class="d-flex">
                                                                            <label for="eMail">スタッフID</label>
                                                                            <span class="cap-errormsg-right" id="errorTenStaffCD"></span>
                                                                        </div>
                                                                        <input type="text" name="TenStaffCD" id="TenStaffCD" class="form-control" value="" maxlength="10">
                                                                    </div>
                                                                    <div class="col-12 pb-2">
                                                                        <div class="d-flex">
                                                                            <label for="website">パスワード</label>
                                                                            <span class="cap-errormsg-right" id="errorTenStaffPW"></span>
                                                                        </div>
                                                                        <input type="text" name="TenStaffPW" id="TenStaffPW" class="form-control" value="" maxlength="30">
                                                                    </div>

                                                                    <div class="col-12 pb-2">
                                                                        <div class="d-flex">
                                                                            <label>スタッフ名</label>
                                                                            <span class="cap-errormsg-right" id="errorTenStaffName"></span>
                                                                        </div>
                                                                        <input type="text" name="TenStaffName" id="TenStaffName" class="form-control" value="" maxlength="15">
                                                                    </div>
                                                                </div>
                                                                <div class="row gutters">
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="Street">アカウントフラグ</label>
                                                                            <div class="row align-items-center">
                                                                                <div class="col">
                                                                                    <label class="form-check-label text-muted">無効化</label>
                                                                                </div>
                                                                                <div class="col-auto">
                                                                                    <div class="form-check form-switch">
                                                                                        <input class="form-check-input" type="checkbox" role="switch" id="chk_Invalidflg" />
                                                                                        <input type="text" id="InvalidFLG" name="InvalidFLG" class="d-none" value="">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row gutters">
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="Street">アカウント削除</label>
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" type="checkbox" value="" disabled>
                                                                                <label class="form-check-label" for="accdel">
                                                                                    削除
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <!-- Card stats -->
                            <div class="card shadow border-0 mb-7">

                                <div class="card-header d-md-inline-flex">
                                    <h5 class="mb-0">管理者アカウント</h5>
                                </div>
                                <div class="p-5 container">
                                    <div class="form-outline  pb-2">
                                        <div class="d-flex">
                                            <label class="form-label" for="form3Examplev4">パスワード</label>
                                            <span class="cap-errormsg-right" id="error_txtPassword"></span>
                                        </div>
                                        <input type="password" class="d-none" value="@ViewBag.AdminPW"  id="txt_old_password"/>
                                        <input type="password" class="passkey form-control"
                                               placeholder="パスワード" required="required" value="@ViewBag.AdminPW" maxlength="30" id="txtPassword" name="AdminPassword" />
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div class="form-outline">
                                            <div class="d-flex">
                                                <label class="form-label" for="form3Examplev4">パスワード再確認</label>
                                                <span class="cap-errormsg-right" id="error_txtConfirmPassword"></span>
                                            </div>
                                            <input type="password" class="passkey form-control"
                                                   placeholder="パスワード" required="required" value="@ViewBag.AdminPW" maxlength="30" id="txtConfirmPassword" name="AdminConfirmPassword">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow border-0 mb-7">
                                <div class="card-body">
                                    <div class="text-right mt-3 float-end">
                                        <button type="button" class="btn btn-primary" id="btn_save_update">変更保存</button>
                                        <button type="button" id="btn_t_admin_cancel" class="btn btn-default">取消</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- 変更取消 -->
            <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" role="dialog" tabindex="-1"
                 id="modal-changecal">
            </div>

            <!-- 変更保存 -->
            <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" role="dialog" tabindex="-1"
                 id="modal-changesave">

            </div>

            <!-- No Change -->
            <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" role="dialog" tabindex="-1" id="modal-nochange">

            </div>

            <!-- 登録完了 -->
            <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" role="dialog" tabindex="-1" id="modal-changeok">
                
            </div>

        </main>
        @Html.Partial("_t_footer")
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/t_admin")
}
