<table class="table table-hover table-nowrap">
    <thead class="thead-light">
        <tr>
            <th scope="col">条件名</th>
            <th scope="col">条件内容</th>
            <th scope="col">買取利回り率</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.M_RECondLineOpt)
        {
            <tr>
                <!--条件名-->
                <td>@item.OptionKBNName</td>
                <!--条件内容-->
                @if (item.OptionKBN == 1)
                {
                    <td>総戸数 <span class="text-danger">@item.ValueText</span>戸 以内</td>
                }
                else if (item.OptionKBN == 4)
                {
                    <td><span class="text-danger">@item.ValueText</span>㎡<span class="text-danger">@item.HandlingKBNText</span></td>
                }
                else if (item.OptionKBN == 8)
                {
                    <td><span class="text-danger">@item.ValueText</span>部屋</td>
                }
                else
                {
                    <td><span class="text-danger">@item.ValueText</span></td>
                }
                <!--買取利回り率-->
                @if (item.NotApplicableFLG == 1)
                {
                    <td>@item.NotApplicableFLGText</td>
                }
                else
                {
                    <td><span class="text-danger">@item.IncDecRate</span>%</td>
                }
            </tr>
        }
    </tbody>
</table>
