<form id="form1">
    <div id="sidebar-wrapper">
        <ul class="navbar-nav mb-md-4 p-3 mt-5 p-md-0" id="form1">
            <li>
                <div class="text-center px-xl-3 pt-3">
                    <div class="mb-3 text-start">
                        <label for="MansionName" class="form-label">マンション</label>
                        <span class="cap-errormsg-right" id="errorMansionName"></span>
                        <input type="text" class="form-control mb-2" value="@ViewBag.MansionName" id="MansionName" name="MansionName" placeholder="マンション名" maxlength="50">
                    </div>
                </div>
            </li>
            <li>
                <div class="px-xl-3 mb-3">
                    <label for="tree_multilevel" class="form-label w-100">表示エリア</label>
                    <ul id="tree_multilevel" class="card">
                        @for (var counter = 0; counter < ViewBag.TreeItem.Count; counter++)
                        {
                            var item = ViewBag.TreeItem[counter];
                            <li>
                                <a>@item.PrefName</a>
                                <ul>
                                    @for (; counter < ViewBag.TreeItem.Count; counter++)
                                    {
                                        var item2 = ViewBag.TreeItem[counter];
                                        if (item2.PrefCD != item.PrefCD)
                                        {
                                            counter = counter - 1;
                                            break;
                                        }
                                        if (item2.CityGPCD == item2.CityCD)
                                        {
                                            <li>
                                                <input class="form-check-input js-node-city" type="checkbox" value="@item2.CityCD" defaultcheck="@item2.CitySelected" id="@GetID()">
                                                <label class="form-check-label" for="@GetFor()">@item2.CityName</label>
                                                <ul>
                                                    @for (; counter < ViewBag.TreeItem.Count; counter++)
                                                    {
                                                        var item4 = ViewBag.TreeItem[counter];
                                                        if (item4.PrefCD != item.PrefCD || item4.CityGPCD != item2.CityGPCD || item4.CityCD != item4.CityCD)
                                                        {
                                                            counter = counter - 1;
                                                            break;
                                                        }
                                                        <li>
                                                            <input class="form-check-input js-node-town" type="checkbox" value="@item4.TownCD" defaultcheck="@item4.TownSelected" id="@GetID()">
                                                            <label class="form-check-label" for="@GetFor()">@item4.TownName</label>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="text-nowrap">
                                                <input class="form-check-input js-node-citygp" type="checkbox" value="@item2.CityGPCD" id="@GetID()">
                                                <label class="form-check-label" for="@GetFor()">@item2.CityGPName</label>
                                                <ul>
                                                    @for (; counter < ViewBag.TreeItem.Count; counter++)
                                                    {
                                                        var item3 = ViewBag.TreeItem[counter];
                                                        if (item3.PrefCD != item.PrefCD || item3.CityGPCD != item2.CityGPCD)
                                                        {
                                                            counter = counter - 1;
                                                            break;
                                                        }
                                                        <li>
                                                            <input class="form-check-input js-node-city" type="checkbox" value="@item3.CityCD" defaultcheck="@item3.CitySelected" id="@GetID()">
                                                            <label class="form-check-label" for="@GetFor()">@item3.CityName</label>
                                                            <ul>
                                                                @for (; counter < ViewBag.TreeItem.Count; counter++)
                                                                {
                                                                    var item4 = ViewBag.TreeItem[counter];
                                                                    if (item4.PrefCD != item.PrefCD || item4.CityGPCD != item2.CityGPCD || item4.CityCD != item3.CityCD)
                                                                    {
                                                                        counter = counter - 1;
                                                                        break;
                                                                    }
                                                                    <li>
                                                                        <input class="form-check-input js-node-town" type="checkbox" value="@item4.TownCD" defaultcheck="@item4.TownSelected" id="@GetID()">
                                                                        <label class="form-check-label" for="@GetFor()">@item4.TownName</label>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </li>
            <li>
                <div class="form-group ps-3 pe-3">
                    <label for="disabledSelect" class="form-label">築年数</label>
                    <span class="cap-errormsg-right" id="errorYear"></span>
                    <div class="form-group input-group mb-3">
                        <span class="cap-errormsg-right" id="errorStartYear"></span>
                        <input type="text" class="form-control rounded" id="StartYear" name="StartYear">
                        <span class="input-group-inline text-center align-self-center p-2">年 ~ </span>
                        <span class="cap-errormsg-right" id="errorEndYear"></span>
                        <input type="text" class="form-control rounded" id="EndYear" name="EndYear">
                        <span class="input-group-inline text-center align-self-center p-2">年</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group ps-3 pe-3">
                    <label for="disabledSelect" class="form-label">駅距離</label>
                    <span class="cap-errormsg-right" id="errorDistance"></span>
                    <div class="form-group input-group mb-3">
                        <span class="cap-errormsg-right" id="errorStartDistance"></span>
                        <input type="text" class="form-control rounded" id="StartDistance" name="StartDistance">
                        <span class="input-group-inline text-center align-self-center p-2">分 ~</span>
                        <span class="cap-errormsg-right" id="errorEndDistance"></span>
                        <input type="text" class="form-control rounded" id="EndDistance" name="EndDistance">
                        <span class="input-group-inline text-center align-self-center p-2">分</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group ps-3 pe-3">
                    <label for="disabledSelect" class="form-label">戸数</label>
                    <span class="cap-errormsg-right" id="errorRooms"></span>
                    <div class="form-group input-group mb-3">
                        <span class="cap-errormsg-right" id="errorStartRooms"></span>
                        <input type="text" class="form-control rounded" id="StartRooms" name="StartRooms">
                        <span class="input-group-inline text-center align-self-center p-2">戸 ~</span>
                        <span class="cap-errormsg-right" id="errorEndRooms"></span>
                        <input type="text" class="form-control rounded" id="EndRooms" name="EndRooms">
                        <span class="input-group-inline text-center align-self-center p-2">戸</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group ps-3 pe-3">
                    <div class="form-check pb-3">
                        <input class="form-check-input" type="checkbox" value="1" id="Unregistered" name="Unregistered">
                        <label class="form-check-label" for="Unregistered">未登録マンション表示</label>
                    </div>
                    <div class="form-check pb-3">
                        <input class="form-check-input" type="checkbox" value="" id="chkPriority" name="chkPriority">
                        <label class="form-check-label" for="chkPriority">優先度</label>
                        <div class="ms-6">
                            <input class="form-check-input Priority" type="radio" name="Priority" id="Priority4" value="4">
                            <span class="text-danger">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star" data-rating="2"></span>
                                <span class="fa fa-star" data-rating="3"></span>
                                <span class="fa fa-star" data-rating="4"></span>
                                <span class="fa fa-star-o" data-rating="5"></span>
                            </span><span><small>以上</small></span>
                        </div>
                        <div class="ms-6">
                            <input class="form-check-input Priority" type="radio" name="Priority" id="Priority3" value="3">
                            <span class="text-danger">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star" data-rating="2"></span>
                                <span class="fa fa-star" data-rating="3"></span>
                                <span class="fa fa-star-o" data-rating="4"></span>
                                <span class="fa fa-star-o" data-rating="5"></span>
                            </span><span><small>以上</small></span>
                        </div>
                        <div class="ms-6">
                            <input class="form-check-input Priority" type="radio" name="Priority" id="Priority2" value="2">
                            <span class="text-danger">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star" data-rating="2"></span>
                                <span class="fa fa-star-o" data-rating="3"></span>
                                <span class="fa fa-star-o" data-rating="4"></span>
                                <span class="fa fa-star-o" data-rating="5"></span>
                            </span><span><small>以上</small></span>
                        </div>
                        <div class="ms-6">
                            <input class="form-check-input Priority" type="radio" name="Priority" id="Priority1" value="1" checked>
                            <span class="text-danger">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star-o" data-rating="2"></span>
                                <span class="fa fa-star-o" data-rating="3"></span>
                                <span class="fa fa-star-o" data-rating="4"></span>
                                <span class="fa fa-star-o" data-rating="5"></span>
                            </span><span><small>以上</small></span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <span class="cap-errormsg-right" id="errorbtnDisplay"></span>
                <div class="form-group ps-3 pe-3">
                    <button type="button" class="btn btn-primary w-100 w-100 mb-3" id="btnDisplay">表示</button>
                </div>
            </li>
        </ul>
        <div class="mt-auto pb-20"></div>
    </div>
</form>
@functions{
    int idcounter = 0;
    string GetID()
    {
        idcounter++;
        return "flexCheckChecked" + idcounter.ToString();
    }
    string GetFor()
    {
        return "flexCheckChecked" + idcounter.ToString();
    }
}