
@{
    Layout = "~/Views/Shared/_t_menuLayout.cshtml";
    ViewBag.Title = "セルイチ管理機能";
}
@section styles{

    @Styles.Render("~/Content/tenfold_css_common")
}
<div class="d-flex flex-column min-vh-100 bg-surface-secondary mt-18">
    <div class="d-flex flex-column min-h-screen" id="page-content-wrapper">

        <main class="py-6 bg-surface-secondary">

            <div class="container-fluid">
                <div class="card shadow border-0 mb-7">
                    <div class="card-header">

                        <div class="col-md-12 col-12 mb-3 mb-sm-0 d-flex">
                            <h1 class="ps-2 h2 mb-0 ls-tight">不動産会社</h1>
                            <span class="ps-2 text-muted small align-self-end">管理</span>
                        </div>
                        <div class="col-sm-6 col-12 text-sm-end">
                            <!--<div class="mx-n1"> <a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1"> <span class=" pe-2">
                              <i class="fa fa-suitcase" aria-hidden="true"></i> </span> <span>接客モード</span> </a> </div>-->
                        </div>
                    </div>

                </div>

                <form id="form1">
                    <div class="card shadow border-0 mb-7">
                        <div class="card-header">
                            <h5 class="mb-0">新規登録</h5>
                        </div>
                        <div class="p-md-5">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col-12">
                                    <div class="row g-0">
                                        <div class="col-lg-4">
                                            <div class="p-5">
                                                <div class="mb-4 pb-2">
                                                    <h5 class="pb-2">会社情報</h5>
                                                    <div class="form-outline">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <label class="form-label" for="REName">社名</label>
                                                            <span class="cap-errormsg-right" id="errorREName"></span>
                                                        </div>
                                                        <input type="text" id="REName" name="REName" maxlength="100" class="form-control form-control-lg" />
                                                    </div>
                                                </div>
                                                <div class="mb-4 pb-2">
                                                    <div class="form-outline">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <label class="form-label" for="REKana">社名(フリガナ)</label>
                                                            <span class="cap-errormsg-right" id="errorREKana"></span>
                                                        </div>
                                                        <input type="text" id="REKana" name="REKana" maxlength="100" class="form-control form-control-lg" />
                                                    </div>
                                                </div>
                                                <div class="mb-4 pb-2">
                                                    <div class="form-outline">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <label class="form-label" for="President">代表者名</label>
                                                            <span class="cap-errormsg-right" id="errorPresident"></span>
                                                        </div>
                                                        <input type="text" id="President" name="President" maxlength="50" class="form-control form-control-lg" />
                                                    </div>
                                                </div>


                                                <hr class="navbar-divider mb-4 my-5 opacity-20">

                                                <div class="mb-4 pb-2">
                                                    <div class="form-group">
                                                        <div class="d-flex">
                                                            <label class="form-label" style="flex:3 0 auto;"> 郵便番号</label>
                                                            <span class="cap-errormsg-right" style="flex:3 0 auto;" id="errorZipCode"></span>
                                                        </div>
                                                        <div class="row cap-fon-form-w350">
                                                            <div class="col-12 col-md-12 row">
                                                                <div class="col-1 align-self-center">
                                                                    <span class="text-dark">〒</span>
                                                                </div>
                                                                <div class="col-4 col-md-4 pe-0 ms-0 me-0 align-self-centeralign-self-center">
                                                                    <input class="form-control text-center w-100" type="text"
                                                                           maxlength="3" name="ZipCode1" id="ZipCode1">
                                                                </div>
                                                                <div class="col-1 ps-0 pe-0 ms-0 me-0 text-center align-self-center">
                                                                    <span class="align-self-center text-dark">―</span>
                                                                </div>
                                                                <div class="col-4 ps-0 pe-0 ms-0 me-0 align-self-center">
                                                                    <input class="form-control text-center w-100" type="text"
                                                                           maxlength="4" name="ZipCode2" id="ZipCode2">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mb-4 pb-2">
                                                    <div class="form-outline form-white">
                                                        <div class="d-flex">
                                                            <label class="form-label">都道府県</label>
                                                            <span class="cap-errormsg-right" id="errorPrefCD"></span>
                                                        </div>
                                                        <div class="dropdown">
                                                            <select class="form-select" name="PrefCD" id="PrefCD">
                                                                <option selected value="">都道府県</option>
                                                                @foreach (Models.DropDownListItem item in ViewBag.PrefDropDownListItems)
                                                                {
                                                                    <option class="js-selectable" value="@item.Value">@item.DisplayText</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mb-4 pb-2">
                                                    <div class="form-outline form-white">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <label class="form-label" for="CityName">市区町村</label>
                                                            <span class="cap-errormsg-right" id="errorCityName"></span>
                                                        </div>
                                                        <input type="text" id="CityName" name="CityName" maxlength="50" class="form-control form-control-lg" />
                                                    </div>
                                                </div>

                                                <div class="mb-4 pb-2">
                                                    <div class="form-outline form-white">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <label class="form-label" for="TownName">住所</label>
                                                            <span class="cap-errormsg-right" id="errorTownName"></span>
                                                        </div>
                                                        <input type="text" id="TownName" name="TownName" maxlength="50" class="form-control form-control-lg" />
                                                    </div>
                                                </div>

                                                <div class="mb-4 pb-2">
                                                    <div class="form-outline form-white">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <label class="form-label" for="Address1">建物名</label>
                                                            <span class="cap-errormsg-right" id="errorAddress1"></span>
                                                        </div>
                                                        <input type="text" id="Address1" name="Address1" maxlength="50" class="form-control form-control-lg" />
                                                    </div>
                                                </div>
                                                <hr class="navbar-divider mb-4 my-5 opacity-20">
                                                <div class="mb-4">
                                                    <h5 class="pb-2">営業日</h5>
                                                    <div class="form-outline form-white">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <label class="form-label" for="BusinessHours">営業時間</label>
                                                            <span class="cap-errormsg-right" id="errorBusinessHours"></span>
                                                        </div>
                                                        <input type="text" id="BusinessHours" name="BusinessHours" maxlength="50" class="form-control form-control-lg" />
                                                    </div>
                                                </div>

                                                <div class="mb-4">
                                                    <div class="form-outline form-white">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <label class="form-label" for="CompanyHoliday">定休日</label>
                                                            <span class="cap-errormsg-right" id="errorCompanyHoliday"></span>
                                                        </div>
                                                        <input type="text" id="CompanyHoliday" name="CompanyHoliday" maxlength="50" class="form-control form-control-lg" />
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-lg-4 bg-indigo text-white">
                                            <div class="p-5">
                                                <div class="mb-4 pb-2">
                                                    <h5 class="pb-2">メイン担当者</h5>
                                                    <div class="form-outline">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <label class="form-label" for="PICName">お名前</label>
                                                            <span class="cap-errormsg-right" id="errorPICName"></span>
                                                        </div>
                                                        <input type="text" id="PICName" name="PICName" maxlength="50" class="form-control form-control-lg" />
                                                    </div>
                                                </div>
                                                <div class="mb-4 pb-2">
                                                    <div class="form-outline">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <label class="form-label" for="PICKana">お名前(フリガナ)</label>
                                                            <span class="cap-errormsg-right" id="errorPICKana"></span>
                                                        </div>
                                                        <input type="text" id="PICKana" name="PICKana" maxlength="50" class="form-control form-control-lg" />
                                                    </div>
                                                </div>
                                                <hr class="navbar-divider mb-4 my-5 opacity-20">
                                                <div class="mb-4 pb-2">
                                                    <h5 class="pb-2">連絡方法</h5>
                                                    <div class="form-outline form-white">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <label class="form-label" for="HousePhone">電話番号</label>
                                                            <span class="cap-errormsg-right" id="errorHousePhone"></span>
                                                        </div>
                                                        <input type="text" id="HousePhone" name="HousePhone" maxlength="15" class="form-control form-control-lg" />
                                                    </div>
                                                </div>

                                                <div class="mb-4">
                                                    <div class="form-outline form-white">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <label class="form-label" for="Fax">FAX番号</label>
                                                            <span class="cap-errormsg-right" id="errorFax"></span>
                                                        </div>
                                                        <input type="text" id="Fax" name="Fax" maxlength="15" class="form-control form-control-lg" />
                                                    </div>
                                                </div>
                                                <div class="mb-4">
                                                    <div class="form-outline form-white">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <label class="form-label" for="MailAddress">メールアドレス</label>
                                                            <span class="cap-errormsg-right" id="errorMailAddress"></span>
                                                        </div>
                                                        <input type="text" id="MailAddress" name="MailAddress" maxlength="100" class="form-control form-control-lg" />
                                                    </div>
                                                </div>

                                                <hr class="navbar-divider mb-4 my-5 opacity-20">
                                                <div class="mb-4row">
                                                    <h5 class="pb-2">口座情報</h5>
                                                    <div class="form-outline form-white">
                                                        <input class="d-none" type="text" name="SourceBankCD" id="SourceBankCD" value="">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <label for="SourceBankName" class="form-label">銀行名</label>
                                                            <span class="cap-errormsg-right" id="errorSourceBankName"></span>
                                                        </div>
                                                        <input class="form-control form-control-lg" id="SourceBankName" name="SourceBankName" placeholder="銀行名入力">
                                                    </div>
                                                    <div class="col-12 pb-3 ">
                                                        <div class="form-outline form-white">
                                                            <input class="d-none" type="text" name="SourceBranchCD" id="SourceBranchCD" value="">
                                                            <div class="d-flex" style="margin-top:3px;">
                                                                <label for="" class="form-label">支店名</label>
                                                                <span class="cap-errormsg-right" id="errorSourceBranchName"></span>
                                                            </div>
                                                            <input class="form-control form-control-lg" id="SourceBranchName" name="SourceBranchName" placeholder="支店名入力">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="mb-4 row">
                                                    <div class="col-12 form-outline form-white pb-3">
                                                        <div class="form-outline form-white">
                                                            <div class="d-flex">
                                                                <label class="form-label" for="SourceAccountType">口座種類</label>
                                                                <span class="cap-errormsg-right" id="errorSourceAccountType"></span>
                                                            </div>
                                                            <div class="dropdown">
                                                                <select class="form-select" name="SourceAccountType" id="SourceAccountType">
                                                                    <option class="js-selectable" selected value=""></option>
                                                                    <option class="js-selectable" value="1">普通預金</option>
                                                                    <option class="js-selectable" value="2">当座預金</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 pb-3">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <label class="form-label" for="SourceAccount">口座番号</label>
                                                            <span class="cap-errormsg-right" id="errorSourceAccount"></span>
                                                        </div>
                                                        <input type="text" id="SourceAccount" name="SourceAccount" maxlength="8" class="form-control form-control-lg" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="mb-4">
                                                    <div class="form-outline form-white pb-3 ">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <label class="form-label" for="SourceAccountName">名義人</label>
                                                            <span class="cap-errormsg-right" id="errorSourceAccountName"></span>
                                                        </div>
                                                        <input type="text" id="SourceAccountName" name="SourceAccountName" maxlength="50" class="form-control form-control-lg" />
                                                    </div>
                                                </div>
                                                <hr class="navbar-divider mb-4 my-5 opacity-20">

                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="p-5 pb-0">
                                                <div class="row">
                                                    <div class="form-outline">
                                                        <h5 class="pb-2">免許</h5>
                                                        <label class="form-label" for="LicenceNo1">免許発行主体</label>
                                                        <div class="col-12 form-outline form-white mb-4 pb-2">
                                                            <select class="form-select cap-fon-form-w250 form-control-lg" name="LicenceNo1" id="LicenceNo1">
                                                                <option selected value="">免許発行主体</option>
                                                                @foreach (Models.DropDownListItem item in ViewBag.MultPurposeDropDownListItems)
                                                                {
                                                                    <option class="js-selectable" value="@item.Value">@item.DisplayText</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <div class="col-12 mb-4 pb-2">
                                                            <div class="d-flex" style="margin-top:3px;">
                                                                <label class="form-label" for="LicenceNo2">更新回数</label>
                                                                <span class="cap-errormsg-right" id="errorLicenceNo2"></span>
                                                            </div>
                                                            <input type="text" id="LicenceNo2" name="LicenceNo2" maxlength="2" class="form-control form-control-lg text-center cap-fon-form-w150" autocomplete="off" />
                                                        </div>
                                                        <div class="col-12 mb-4 pb-2">
                                                            <div class="d-flex" style="margin-top:3px;">
                                                                <label class="form-label" for="LicenceNo3">免許番号</label>
                                                                <span class="cap-errormsg-right" id="errorLicenceNo3"></span>
                                                            </div>
                                                            <div class="w-100">
                                                                <div class=" d-inline-flex cap-fon-form-w200">
                                                                    <span class="align-self-center pe-1">第</span>
                                                                    <input type="text" id="LicenceNo3" name="LicenceNo3" maxlength="10" class="form-control form-control-lg text-center" autocomplete="off" value="" />
                                                                    <span class="align-self-center ps-1">号</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr class="navbar-divider mb-4 my-5 opacity-20 pt-0 pb-0 mt-0 mb-0">
                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline form-white">
                                                            <h5 class="pb-2">契約パターン</h5>
                                                            <div class="d-flex" style="margin-top:3px;">
                                                                <label class="form-label" for="CourseCD">パターン選択</label>
                                                                <span class="cap-errormsg-right" id="errorCourseCD"></span>
                                                            </div>
                                                            <select class="form-select cap-fon-form-w350 form-control-lg" name="CourseCD" id="CourseCD">
                                                                <option selected="" value="">パターン選択</option>
                                                                @foreach (Models.DropDownListItem item in ViewBag.CourseDropDownListItems)
                                                                {
                                                                    <option class="js-selectable" value="@item.Value">@item.DisplayText</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <hr class="navbar-divider mb-4 my-5 opacity-20 pt-0 pb-0 mt-0 mb-0">

                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline cap-fon-form-w200">
                                                            <h5 class="pb-2">初期設定</h5>
                                                            <div class="d-flex" style="margin-top:3px;">
                                                                <label class="form-label" for="JoinedDate">サービス参加日</label>
                                                                <span class="cap-errormsg-right" id="errorJoinedDate"></span>
                                                            </div>
                                                            <input type="date" id="JoinedDate" name="JoinedDate" max="2999-12-31" class="form-control form-control-lg text-center" />
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline form-white">
                                                            <div class="d-flex" style="margin-top:3px;">
                                                                <label class="form-label" for="InitialFee">初期登録料</label>
                                                                <span class="cap-errormsg-right" id="errorInitialFee"></span>
                                                            </div>
                                                            <div class="w-100">
                                                                <div class=" d-inline-flex cap-fon-form-w200">
                                                                    <input type="text" id="InitialFee" name="InitialFee" class="form-control form-control-lg text-end" autocomplete="off" />
                                                                    <span class="align-self-center ps-1">円</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr class="navbar-divider mb-4 my-5 opacity-20 pt-0 pb-0 mt-0 mb-0">
                                                    <div class="mb-4 pb-2">
                                                        <div class="d-flex" style="margin-top:3px;">
                                                            <h5 class="pb-2">メモ</h5>
                                                            <span class="cap-errormsg-right" id="errorRemark"></span>
                                                        </div>
                                                        <textarea class="form-control custom-control" id="Remark" maxlength="1000" name="Remark" rows="5"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="adminblock">
                                                <hr class="navbar-divider mb-4 my-5 opacity-20">
                                                <div class="p-5 pt-0">
                                                    <div class="mb-4 pb-2">
                                                        <h5 class="pb-2">ログイン情報(admin)</h5>
                                                        <div class="form-outline  pb-2">
                                                            <div class="d-flex">
                                                                <label class="form-label" for="txtPassword">パスワード</label>
                                                                <span class="cap-errormsg-right" id="errortxtPassword"></span>
                                                            </div>
                                                            <input type="password" class="passkey form-control" placeholder="パスワード" required="required" maxlength="20" id="txtPassword" name="Password" />
                                                        </div>

                                                        <div class="mb-4 pb-2">
                                                            <div class="form-outline">
                                                                <div class="d-flex">
                                                                    <label class="form-label" for="txtConfirmPassword">パスワード再確認</label>
                                                                    <span class="cap-errormsg-right" id="errortxtConfirmPassword"></span>
                                                                </div>
                                                                <input type="password" class="passkey form-control" placeholder="パスワード" required="required" id="txtConfirmPassword" name="REPassword">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right mt-3 float-end">
                                <button type="button" class="btn btn-primary" id="btnConfirmation">
                                    確認
                                </button>&nbsp;    <button type="button" class="btn btn-lg btn-default" id="btnCancel">
                                    取消
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Modal -->
                <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" id="modal_1" tabindex="-1"
                     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">登録内容確認</h5>
                                <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Card stats -->
                                <div class="row d-flex justify-content-center align-items-center h-100">
                                    <div class="col-12">
                                        <div class="row g-0">
                                            <div class="col-lg-6">
                                                <div class="p-md-5">
                                                    <div class="mb-4 pb-2">
                                                        <h5 class="pb-2">会社情報</h5>
                                                        <div class="form-outline">
                                                            <label class="form-label" for="confirm_REName">社名</label>
                                                            <input readonly type="text" id="confirm_REName" class="form-control form-control-lg" />
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline">
                                                            <label class="form-label" for="confirm_REKana">社名(フリガナ)</label>
                                                            <input readonly type="text" id="confirm_REKana" class="form-control form-control-lg" />
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline">
                                                            <label class="form-label" for="confirm_President">代表者名</label>
                                                            <input readonly type="text" id="confirm_President" class="form-control form-control-lg" />
                                                        </div>
                                                    </div>

                                                    <hr class="navbar-divider mb-4 my-5 opacity-20">

                                                    <div class="mb-4 pb-2">
                                                        <h5 class="pb-2">住所</h5>
                                                        <div class="row cap-fon-form-w350 form-outline form-white">
                                                            <label class="form-label" for="form3Examplea4">郵便番号</label>
                                                            <div class="col-12 col-md-8 d-inline-flex mb-4 mb-md-0 pb-md-0 pb-2">
                                                                <span class="align-self-center pe-2 text-dark">〒</span>
                                                                <input readonly class="form-control text-center w-50" id="confirm_ZipCode1" type="text">
                                                                <span class="align-self-center pe-2 ps-2 text-dark">-</span>
                                                                <input readonly  class="form-control w-50 text-center" id="confirm_ZipCode2" type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline form-white">
                                                            <label class="form-label" for="confirm_PrefCD">都道府県</label>
                                                            <div class="dropdown w-100">
                                                                <input readonly type="text" id="confirm_PrefCD" class="form-control form-control-lg" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline form-white">
                                                            <label class="form-label" for="confirm_CityName">市区町村</label>
                                                            <input readonly type="text" id="confirm_CityName" class="form-control form-control-lg" />
                                                        </div>
                                                    </div>

                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline form-white">
                                                            <label class="form-label" for="confirm_TownName">住所</label>
                                                            <input type="text" id="confirm_TownName" class="form-control form-control-lg" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline form-white">
                                                            <label class="form-label" for="confirm_Address1">建物名</label>
                                                            <input readonly type="text" id="confirm_Address1" class="form-control form-control-lg" />
                                                        </div>
                                                    </div>
                                                    <hr class="navbar-divider mb-4 my-5 opacity-20">
                                                    <div class="mb-4">
                                                        <h5 class="pb-2">営業日</h5>
                                                        <div class="form-outline form-white">
                                                            <label class="form-label" for="confirm_BusinessHours">営業時間</label>
                                                            <input readonly type="text" id="confirm_BusinessHours" class="form-control form-control-lg" />
                                                        </div>
                                                    </div>

                                                    <div class="mb-4">
                                                        <div class="form-outline form-white">
                                                            <label class="form-label" for="confirm_CompanyHoliday">定休日</label>
                                                            <input readonly type="text" id="confirm_CompanyHoliday" class="form-control form-control-lg" />
                                                        </div>
                                                    </div>
                                                    <hr class="navbar-divider mb-4 my-5 opacity-20">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 bg-indigo text-white">
                                                <div class="p-md-5">
                                                    <div class="mb-4 pb-2">
                                                        <h5 class="pb-2">メイン担当者</h5>
                                                        <div class="form-outline">
                                                            <label class="form-label" for="confirm_PICName">お名前</label>
                                                            <input readonly type="text" id="confirm_PICName" class="form-control form-control-lg" />
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline">
                                                            <label class="form-label" for="confirm_PICKana">お名前(フリガナ)</label>
                                                            <input readonly type="text" id="confirm_PICKana" class="form-control form-control-lg" />
                                                        </div>
                                                    </div>
                                                    <hr class="navbar-divider mb-4 my-5 opacity-20">
                                                    <div class="mb-4 pb-2">
                                                        <h5 class="pb-2">連絡方法</h5>
                                                        <div class="form-outline form-white">
                                                            <label class="form-label" for="confirm_HousePhone">電話番号</label>
                                                            <input readonly type="text" id="confirm_HousePhone" class="form-control form-control-lg" />
                                                        </div>
                                                    </div>
                                                    <div class="mb-4">
                                                        <div class="form-outline form-white">
                                                            <label class="form-label" for="confirm_Fax">FAX番号</label>
                                                            <input readonly type="text" id="confirm_Fax" class="form-control form-control-lg" />
                                                        </div>
                                                    </div>
                                                    <div class="mb-4">
                                                        <div class="form-outline form-white">
                                                            <label class="form-label" for="confirm_MailAddress">メールアドレス</label>
                                                            <input readonly type="text" id="confirm_MailAddress" class="form-control form-control-lg" />
                                                        </div>
                                                    </div>

                                                    <hr class="navbar-divider mb-4 my-5 opacity-20">
                                                    <div class="mb-4 pb-2 row">
                                                        <h5 class="pb-2">口座情報</h5>

                                                        <label class="form-label" for="form3Examplea9">口座番号</label>
                                                        <div class="col-5 form-outline form-white">
                                                            <div class="dropdown w-100">
                                                                <input readonly type="text" id="confirm_SourceBankName" class="form-control form-control-lg" />
                                                            </div>
                                                        </div>
                                                        <div class="col-7">
                                                            <input readonly type="text" id="confirm_SourceBranchName" class="form-control form-control-lg texc" autocomplete="off" />
                                                        </div>

                                                    </div>
                                                    <div class="mb-4 pb-2 row">
                                                        <div class="col-5 form-outline form-white">
                                                            <div class="dropdown w-100">
                                                                <input readonly type="text" id="confirm_SourceAccountType" class="form-control form-control-lg" />
                                                            </div>
                                                        </div>
                                                        <div class="col-7">
                                                            <input readonly type="text" id="confirm_SourceAccount" class="form-control form-control-lg" autocomplete="off" />
                                                        </div>

                                                    </div>
                                                    <div class="mb-4">
                                                        <div class="form-outline form-white">
                                                            <label class="form-label" for="confirm_SourceAccountName">名義人</label>
                                                            <input readonly type="text" id="confirm_SourceAccountName" class="form-control form-control-lg"
                                                                   value="" />
                                                        </div>
                                                    </div>
                                                    <hr class="navbar-divider mb-4 my-5 opacity-20">


                                                    <div class="mb-4 pb-2 row">
                                                        <h5 class="pb-2">免許</h5>
                                                        <label class="form-label" for="confirm_LicenceNo1">宅建免許番号</label>
                                                        <div class="col-4 form-outline form-white col-md-5">
                                                            <div class="dropdown w-100">
                                                                <input readonly type="text" id="confirm_LicenceNo1" class="form-control form-control-lg text-center" />
                                                            </div>
                                                        </div>
                                                        <div class="col-3 col-md-3">
                                                            <input readonly type="text" id="confirm_LicenceNo2" class="form-control form-control-lg text-center" autocomplete="off" />
                                                        </div>
                                                        <div class="col-5 col-md-4">
                                                            <div class="d-inline-flex ">
                                                                <span class="align-self-center pe-1 text-dark">第</span>
                                                                <input readonly type="text" id="confirm_LicenceNo3" class="form-control form-control-lg text-center" autocomplete="off" value="" />
                                                                <span class="align-self-center ps-1 text-dark">号</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr class="navbar-divider mb-4 my-5 opacity-20 pt-0 pb-0 mt-0 mb-0">
                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline form-white">
                                                            <h5 class="pb-2">契約パターン</h5>
                                                            <input readonly type="text" id="confirm_CourseCD" class="form-control form-control-lg text-center" autocomplete="off" value="" />
                                                        </div>
                                                    </div>
                                                    <hr class="navbar-divider mb-4 my-5 opacity-20 pt-0 pb-0 mt-0 mb-0">

                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline cap-fon-form-w200">
                                                            <h5 class="pb-2">初期設定</h5>
                                                            <label class="form-label" for="confirm_JoinedDate">サービス参加日</label>
                                                            <input type="date" id="confirm_JoinedDate" class="form-control form-control-lg text-center"
                                                                   value="" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline form-white">
                                                            <label class="form-label" for="confirm_InitialFee">初期登録料</label>
                                                            <div class="w-100">
                                                                <div class=" d-inline-flex cap-fon-form-w200">
                                                                    <input type="text" id="confirm_InitialFee"
                                                                           class="form-control form-control-lg text-end" autocomplete="off" value="" readonly />
                                                                    <span class="align-self-center ps-1 text-dark">円</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr class="navbar-divider mb-4 my-5 opacity-20 pt-0 pb-0 mt-0 mb-0">
                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline">
                                                            <h5 class="pb-2">メモ</h5>
                                                            <textarea class="form-control custom-control" rows="5" id="confirm_Remark" readonly></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- Card stats -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">戻る</button>
                                <button type="button" class="btn btn-primary" id="btnRegistration">
                                    登録
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" role="dialog" tabindex="-1"
                     id="modal_2">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">新規登録完了</h4><button type="button" class="btn-close d-none"
                                                                           data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <section class="newsletter-subscribe">
                                    <div class="container">
                                        <div class="intro"></div>
                                        <form class="d-flex justify-content-center flex-wrap mx-auto" method="post"
                                              style="text-align: center;">
                                            <h1 class="cap-icon-h1"><i class="fa fa-check cap-icon-i"></i></h1>
                                        </form>
                                    </div>
                                    <h4 class="text-center align-self-center pt-2">登録内容を保存しました。</h4>
                                </section>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  id="btnSuccessPopup">閉じる</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 変更取消 -->
                <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" role="dialog" tabindex="-1"
                     id="changecal">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">変更取消</h4><button type="button" class="btn-close d-none" data-bs-dismiss="modal"
                                                                         aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <section class="newsletter-subscribe pt-0 p-0">
                                    <div class="container">
                                        <div class="intro"></div>
                                        <form class="d-flex justify-content-center flex-wrap mx-auto" method="post"
                                              style="text-align: center;">
                                            <h1 class="cap-icon-h1 border border-danger border-8"><i class="fa fa-exclamation-circle pt-1 pb-1 ps-3 pe-3 cap-icon-i text-danger"></i></h1>
                                        </form>
                                    </div>
                                    <h4 class="text-center align-self-center">変更内容を破棄してもよろしいですか？</h4>

                                </section>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-lg btn-primary" id="btn_reload" data-bs-dismiss="modal">破棄</button>
                                <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">閉じる</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        @Html.Partial("_t_footer")
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/t_reale_new")
}